
.Cím{
    text-align: center;
    color: white;
}
.k{
    font-size: 20px;
    color: aqua;
    
}
.vernek{
    font-size: 20px;
    color: aqua;
}
img{
    width: 450px;
    height: 350px;
    float: right;
    border-radius: 20px;
}
.h{
    color: white

}
.g{
    color: white

}
.j{
    color: white
}
.f{
    color: white
}
